<div class="grid">
  <p><a href="">Sobre nosotros</a><br><a href="">Contacto</a></p>
  <p><a href="">Política de privacidad </a><br><a href="">Política de <i>cookies</i></a><br><a href="">Aviso legal</a></p>
</div>
<div class="grid">
    <p><a href="">Instagram</a><br><a href="">TikTok</a><br><a href="">X</a></p>
    <p><abbr title="Universitat Oberta de Catalunya">UOC</abbr>, 2025-2026. 
        Herramientas <abbr title="Hyper Text Markup Language">HTML</abbr> y 
        <abbr title="Cascading Style Sheets">CSS</abbr> <br> María Rubio Martínez</p>
</div>
