
<div class="logo">
    <a href="index.html" >
        <h1>Cooking with</h1>

        <!-- <img id="logo-img" src="img/Cooking_Mama_Series_Logo.png" alt="Cooking Mama Logo"> -->
         <img id="logo-img"
            src="img/Cooking_Mama_Series_Logo.png" 
            srcset="
                img-opt/Cooking_Mama_Series_Logo-1x.webp 1x, 
                img-opt/Cooking_Mama_Series_Logo-2x.webp 2x, 
                img-opt/Cooking_Mama_Series_Logo-3x.webp 3x"
            alt="Cooking Mama Logo">


    </a>
</div>

<div class="botones-nav">
    <a class="button interno" href="index.html#info-juego">Sobre el juego</a>
    <a class="button interno" href="index.html#recetas">Recetario</a>
    <a class="button interno" href="index.html#info-saga">La saga</a>      
    <a class="button externo" href="links.html">Enlaces</a>   
</div>

